body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color:black;
}
header{
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}
.first-title{
    text-align:justify;
    margin-top: 20px;
    padding: 1rem 5rem 2rem 10rem ;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    line-height: 1.4;
    
}
.first-title .titles{
    width: 45%;
    margin-bottom: 25px;
    padding: 1rem 6rem 1rem 3rem ;
    border: 2.5px;
    border-color: rgb(43, 189, 226);
    border-bottom-style: double;
    
}
.first-title .intro{
    margin-bottom: 45px;
    font-size: 1rem;
    width: 30%;
    
}
.pic{
    margin-top: 80px;
    width: 45%;
    float: right;
}
.resim{
    padding: 1rem 6rem 1rem 3rem ;
    border: none;
}
.title-b .bot{
    position:absolute;
    left: 5rem;
    bottom: -45px;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 5rem;
    z-index: 999;
}

@media screen and (max-width: 1160px) {
    .resim{
        max-width: 500px;
        padding: 1rem 6rem 1rem 3rem ;
        border: none;
    }
    .first-title{
        text-align:justify;
        margin-top: 20px;
        padding: 1rem 5rem 2rem 5rem ;
        font-size: 1.1rem;
        color: rgb(0, 0, 0);
        line-height: 1.4;
    }
    .title-b .bot{
        bottom: -70px;
    }

    
}
@media screen and (max-width: 990px){
    .resim{
        width: 400px;
        padding: 0.6rem 2.4rem 0.6rem 2.4rem ;
        border: none;
    }
    .pic{
        margin-top: 80px;
        width: 40%;
        float: right;
    }
    .title-b .bot{
        bottom: -100px;
    }

}
@media screen and (max-width: 576px) { 
    header{
        margin-top: 10px;
        left: 100px;
        font-size: 18px;
        position: relative;
    }
    .pic{
        float: none;
        left: 13%;
        position:relative;
        padding: 0.5rem 1rem 0.5rem 1rem ;
    }
    .resim{
        max-width: 700px;
        padding: 0.5rem 5rem 0.5rem 5rem ;
        border: none;
    }
    .first-title{
        padding: 1rem 5rem 1rem 5rem ;
        border: none;
    }
    .first-title .titles{
        width: 150%;
        margin-bottom: 25px;
        border: 2.5px;
        border-color: rgb(43, 189, 226);
        border-bottom-style: double;
        
    }
    .first-title .intro{
        margin-bottom: 45px;
        font-size: 1.1rem;
        width: 150%;
        
    }
    .first-title .edu{
        width: 140%;
        font-size: 1.1rem;
    }
    .title-b .bot{
        position:relative;
        width: 100%;
        left: 10rem;
        bottom: -35px;
        font-weight: 300;
        font-size: 0.8rem;
        line-height: 2rem;
        z-index: 999;
    }
}
